*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('./img/wallpaper.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
div.header{
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    border-bottom: 5px solid rgb(0, 97, 0);
    /* background-color: rgba(152, 255, 152, 0.9); */
    background-color: rgba(152, 255, 152, 1);
    text-align: center;
}

.header > a.toplink{
    display: inline-block;
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    /* color: rgb(0, 53, 0); */
    color: #000;
    background-color: rgb(152, 255, 152);
    text-transform: uppercase;
    text-decoration: none;
}
.header > a.toplink:hover{
    /* color: rgb(0, 53, 0); */
    color: #000;
    background-color: rgb(113, 255, 113);
    text-decoration: none;
}

div.title{
    position: absolute;
    z-index: 4;    
    background-color: rgba(152, 255, 152, 0);
    font-size: 100px;
    padding: 0px 20px;
    height: 120px;
    bottom: 20%;
    left: 200px;
    line-height: 120px;

    transition: top 50ms linear, left 50ms linear, font-size 50ms linear, line-height 50ms linear;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
div.title.fixed{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    background-color: rgba(152, 255, 152, 1);
}
div.content{
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* width: 100%; */
    height: fit-content;
    /* background-color: rgba(255, 255, 255, 0.4); */
    padding: 10px;
    text-align: justify;
    font-size: 18px;
}
