body{
    background: url('./img/wallpaper.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
div.header{
    border-bottom: 5px solid rgb(0, 97, 0);
    background-color: rgba(152, 255, 152, 1);
}

.header > a.toplink{
    color: #000;
    background-color: rgb(152, 255, 152);
}
.header > a.toplink:hover{
    color: #000;
    background-color: rgb(113, 255, 113);
}

div.title{
    background-color: rgba(152, 255, 152, 0);
    color: #000;
}
div.content{
    color: #000;
}
